@tailwind base;
@tailwind components;
@tailwind utilities;

/*sign up buttons*/

.enabled-button {
  background-color: #3b82f6; 
  color: white;
  cursor: pointer;
  
}

.disabled-button {
  background-color: #cccccc;
  color: #999999;
  cursor: not-allowed;
  
}

.landing-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 0%), url('/landingbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.li{
  letter-spacing: 0.2rem;
}
.li::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333;
  bottom: -2px;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;

}
.li:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
.searchbox{
  padding: 0 30px;
  transition: 0.5s ease-in-out;
  right: -100%;
}
.searchbox input{
  font-size: 1.2em;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #333;
}

